/* CSS Document */
* { padding:0; margin:0;}
body { font-size:12px; padding:30px; font-family:"宋体";}
ul { list-style-type:none;}

.bg { background:#eee; float:left; padding:5px;}

.box { width:775px; border:1px solid #ccc; background:#fff;}

.box h1 { height:30px; line-height:30px; font-size:13px; padding-left:10px; background:#E1E1E1;color:#333;}

.box h1 span { float:right; padding-right:10px;}

.box h1 span a { color:#333;}


.box ul { padding:20px 100px;}

.box ul li { padding:20px 0; border-bottom:1px dashed #ccc;}

.box ul li.end { border:none;}


.box ul li label { display:block; width:90px; padding-right:20px; height:30px; line-height:30px; float:left; text-align:right;}



/*------------------文本框样式----------------------*/

.text { width:230px; height:30px; line-height:30px; border:1px solid #ccc;}

* + html .text, { margin-top:-2px;}

* html .text { margin:-2px 0 0 -3px;} 





/*------------------按钮样式----------------------*/

.submit { width:60px; height:30px; line-height:30px; border:1px solid #ccc; background:#eee; margin-right:10px;}







