*{
	margin: 0px;
	padding: 0px;
}
img{
	outline: none;
	border: none;
}
body{
	font-size: 12px;
	font-family: "宋体";
	color: #333333;
}
ul li{
	list-style: none;
}
/*头部*/
#top{
	width: 100%;
	height: 31px;
	background-color: #F7F7F7;
	border-bottom:1px solid #ccc;
}
#top .content{
	width: 980px;
	height: 31px;
	margin: 0 auto;
	color: #808080;
	line-height: 31px;
}
/*头部左边*/
#top .content .content_left{
	width: 400px;
	height: 31px;
	float: left;
}
#top .content .content_left span.greet{
	width: 138px;
	height: 31px;
	display: block;
	float: left;
}
#top .content .content_left span.land{
	width: 92px;
	height: 31px;
	display: block;
	float: left;
}
#top .content .content_left span.land a{
	text-decoration: none;
	width: 42px;
	height: auto;
	display: block;
	float: left;
	text-align: center;
	color: #808080;
}
#top .content .content_left span.house{
	width: 126px;
	height: 31px;
}
#top .content .content_left span.house a{
	width: 63px;
	height: 31px;
	display: block;
	float: left;
	color: #808080;
	text-decoration: none;
}
#top .content .content_left span.house a:hover{
	color: #A10000;
}
/*头部右边*/
#top .content .content_right{
	width: 515px;
	height: 31px;
	float: right;
}
#top .content .content_right .top_right{
	width: 70px;
	height: 18px;
	line-height: 18px;
	margin: 7px 5px 0px 0px;
	float: left;
	cursor: pointer;
	position: relative;
	/*background: url(../img/10.png) no-repeat scroll 0px -40px;*/
}
#top .content .content_right .top_right.active{
	background: url(../img/10.png) no-repeat scroll 0px -40px;
}
/*#top .content .content_right .top_right a#me:hover{
	color: #a10000;
}*/
#top .content .content_right .top_right .vancel{
	position: absolute;
	left: 0px;
	top: 18px;
	display: none;
	z-index: 20;
}
#top .content .content_right .top_right .vancel ul{
	width: 68px;
	padding: 4px 0px 0px;
	border: 1px solid #a10000;
	border-top: none;
	background-color: #FFFFFF;
	border-radius:0px 0px 5px 5px;
}
#top .content .content_right .top_right .vancel ul li a{
	width: 54px;
	height: 18px;
	line-height: 18px;
	padding-left: 14px;
	display: block;
	color: #808080;
	background: url(../img/10.png) no-repeat;
	text-decoration: none;
	background-position:-115px 7px;
}
#top .content .content_right .top_right .vancel ul li a:hover{
	color: #a10000;
}
#top .content .content_right .top_right a.one{
	width: 65px;
	padding-left: 5px;
	height: 18px;
	color: #808080;
	text-decoration: none;
	display: block;
	background: url(../img/4.png) no-repeat scroll 55px 3px;
}

#top .content .content_right .vanclPhone{
	width: 65px;
	height: 18px;
	line-height: 18px;
	margin: 7px 5px 0px 0px;
	float: left;
	background: url(../img/4.png) no-repeat 52px -27px;
	margin-right: 15px;
	margin-left: 11px;
}
#top .content .content_right .dle{
	width: 67px;
	height: 18px;
	line-height: 18px;
	margin: 7px 5px 0px 0px;
	float: left;
	background: transparent url(../img/5.png) no-repeat 51px 0px;
}
#top .content .content_right .payattention{
	float: right;
	margin-top: 7px;
	margin-right: 15px;
	position: relative;
}
#top .content .content_right .payattention img.code{
	position: absolute;
	right: 27px;
	top: 25px;
	display: none;
	z-index: 30;
}
/*广告*/
#advert{
	width: 980px;
	height: 50px;
	margin: 0 auto;
}
#advert img{
	width: 980px;
}
/*搜索框*/
#search{
	width: 980px;
	height: 62px;
	margin: 20px auto 10px;
}
#search .search_logo{
	width: 166px;
	height: 47px;
	padding-left: 33px;
	float: left;
}
#search .search_logo a{
	width: 166px;
	height: 47px;
	display: block;
	background: url(../img/6.png) no-repeat 0px -59px;
}
#search .serch_right{
	width: 560px;
	height: 60px;
	float: right;
	padding-top: 8px;
}
#search .serch_right .vla{
	width: 560px;
	height: 30px;
}
#search .serch_right .val .val_left{
	width: 440px;
	height: 30px;
}
#search .serch_right .vla .val_left .sousuo{
	width: 379px;
	height: 27px;
	padding: 0px 5px;
	line-height: 27px;
	border: solid 1px #C9CACA;
	float: left;
}
#search .serch_right .vla .val_left .tj{
	width: 49px;
	height: 29px;
	border: none;
	cursor: pointer;
	background: url(../img/6.png) no-repeat -100px 0px;
	float: left;
}
#search .serch_right .vla .val_left .shop{
	width: 107px;
	height: 27px;
	float: right;
	background-color: #FFFFFF;
	/*background: url(../img/6.png) no-repeat -154px 0px;*/
	/*background: url(../img/6.png) no-repeat -152px -29px;*/
	position: relative;
	top: 0px;
	right: 0px;
	z-index: 3;
}
#search .serch_right .vla .val_left .shop a.shop_active{
	color: #b81c22;
	background:#FFFFFF url(../img/6.png) no-repeat -152px -29px;
}
#search .serch_right .vla .val_left .shop a{
	width: 105px;
	height: 28px;
	display: block;
	line-height: 30px;
	text-decoration: none;
	color: #FFFFFF;
	text-indent: 30px;
	border: solid 1px #c1383e;
	border-bottom: none;
	position: absolute;
	right: 0px;
	z-index: 33;
	background: url(../img/6.png) no-repeat -154px 0px;
	/*background:#FFFFFF url(../img/6.png) no-repeat -152px -29px;*/
}
#search .serch_right .vla .shop .ware{
	width: 325px;
	border: solid 1px #b81c22;
	background-color: #FFFFFF;
	position: absolute;
	right: 0px;
	top: 28px;
	padding: 5px 0px 5px 5px;
	font-size: 14px;
	color: #333333;
	display: none;
}
#search .serch_right .vla .val_right{
	clear: both;
	color: #727171;
	padding-top: 5px;
	margin-left: 95px;
}
#search .serch_right .vla .val_right a{
	color: #727171;
	margin-left: 15px;
	text-decoration: none;
}
/*导航开始*/
#nav{
	width: 980px;
	height: 50px;
	margin: 0 auto;
	background-color: #efefef;
	position: relative;
}
#nav span.whole a{
	width: 260px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	color: #FFFFFF;
	background-color: #b81c22;
	text-decoration: none;
	font-size: 17px;
	font-weight: 700;
	float:left;
	cursor: pointer;
}
#nav .dh li{
	float: left;
	cursor: pointer;
}
#nav .dh li a{
	width: 90px;
	height: 50px;
	display: block;
	text-decoration: none;
	float: left;
	color: #927171;
	font-family:"Microsoft Yahei";
	font-size: 16px;
	text-align: center;
	line-height: 50px;
}
#nav .dh li a:hover{
	background-color: #e5e6e6;
	color: #bc1c63;
}
#nav .dh li .product{
	width: 720px;
	height: 170px;
	position: absolute;
	border: solid 1px #CCCCCC;
	z-index: 40;
	background: #FFFFFF;
	right: 0px;
	top: 49px;
	display: none;
}
#nav .dh li .product ul li{
	width: 350px;
	height: 140px;
	float: left;
	margin-top: 20px;
}
#nav .dh li .product ul li.one{
	border-right: solid 1px #dbdbdd;
}
#nav .dh li .product ul li .dh_left{
	width: 140px;
	height: 140px;
	float: left;
	margin: 0px 0px 0px 14%;
}
#nav .dh li .product ul li .dh_right{
	width: 160px;
	height: 14px;
	float: left;
}
#nav .dh li .product ul li .dh_right h3{
	width: 100%;
	height: 35px;
	text-align: left;
	overflow: hidden;
	font-size: 16px;
	font-weight: 700;
	color: #727171;
	line-height: 35px;
	margin-top: 10px;
}
#nav .dh li .product ul li .dh_right p{
	color: #999999;
	font-size: 12px;
	text-align: left;
	line-height: 16px;
	width: 150px;
}
#nav .dh li .product ul li .dh_right span{
	color: #b81c22;
	font-size: 16px;
	line-height: 30px;
	font-family: "宋体";
}
#nav .dh li .product ul li .dh_left img{
	width: 100%;
}
/*导航结束*/
#figure{
	width: 980px;
	margin: 0 auto;
	height: 485px;
	padding-top: 20px;
}
#figure .figure_left{
	width: 260px;
	height: 475px;
	float: left;
	/*border: solid 1px #c8c8c9;*/
	position: relative;
}
#figure .figure_left .kj{
	width: 259px;
	height: 280px;
	border: solid 1px #c8c8c9;
	position: relative;
	border-bottom: none;
}
#figure .figure_left .kj .polo{
	width: 260px;
	height: 92px;
	border-bottom: #c8c8c9 solid 1px;
}
#figure .figure_left .kj .polo .dle{
	padding: 17px 0px 0px 35px;
	color: #BAA2BA;
}
#figure .figure_left .kj .polo .dle p{
	position: relative;
	left: -5px;
}
#figure .figure_left .kj .polo .tle{
	padding: 10px 0px 0px 35px;
}
#figure .figure_left .kj .polo .dle dt{
	margin-bottom: 10px;
	font-size: 14px;
}
#figure .figure_left .kj .polo .dle dd a{
	text-decoration: none;
	color: #727171;
	padding: 0 5px;
	line-height: 20px;
	display: inline-block;
	font-size: 12x;
}
#figure .figure_left .kj .polo .dle dd a#one{
	color: #b81c22;
	padding: 0px;
}
#figure .figure_left .kj .polo .dle dd a#one:hover{
	background: none;
}
#figure .figure_left .kj .polo .dle dd a:hover{
	background-color: #edeeee;
	color: #b81c22;
}
#figure .figure_left .kj .shirt{
	width: 260px;
	height: 60px;
}
#figure .figure_left .kj .polo h2,#figure .figure_left .kj_1 .ladies h2{
	width: 35px;
	height: 20px;
	color: #B81C22;
	font-size: 14px;
	background-color: #FFFFFF;
	position: absolute;
	top: -10px;
	left: 35px;
}
#figure .figure_left .kj .shirt{
	height: 61px;
}
#figure .figure_left .kj_1{
	width: 259px;
	height: 44px;
	border: solid 1px #c8c8c9;
	position: relative;
	border-bottom: none;
	margin-top: 15px;
}
#figure .figure_left .kj_1 .ladies{
	height: 43px;
	border-bottom: #c8c8c9 solid 1px;
}
#figure .figure_left .kj_1 .ladies .ble{
	padding: 16px 0px 0px 35px;
}
#figure .figure_left .kj_1 .ladies .ble a{
	text-decoration: none;
	color: #727171;
	padding: 0 5px;
	line-height: 20px;
	display: inline-block;
	font-size: 12x;
}
#figure .figure_left .kj_1 .ladies .ble a#one{
	color: #b81c22;
	padding: 0px;
}
#figure .figure_left .kj_1 .ladies .ble a#one:hover{
	background-color: #FFFFFF;
}
#figure .figure_left .kj_1 .ladies .ble a:hover{
	background-color: #edeeee;
	color: #b81c22;
}
#figure .figure_left .kj_1 .ladies h3{
	width: 175px;
	height: 20px;
	color: #B81C22;
	font-size: 14px;
	background-color: #FFFFFF;
	position: absolute;
	top: -10px;
	left: 35px;
}
#figure .figure_middle{
	width: 710px;
	height: 475px;
	float: left;
	margin-left: 9px;
	position: relative;
	overflow: hidden;
}
#figure .figure_middle .img>a{
	display: block;
	width: 710px;
	height: 475px;
	position: absolute;
	top:0px;
	left: 0px;
}
#figure .figure_middle .img{
	position: relative;
}
#figure .figure_middle .img img{
	width: 710px;
	height: 475px;
}
#figure .figure_middle .slideFooter{
	position: absolute;
	height: 10px;
	right: 45%;
	bottom: 20px;
	overflow: hidden;
}
#figure .figure_middle .slideFooter li{
	width: 10px;
	height: 10px;
	overflow: hidden;
	float: left;
	display: inline-block;
	margin-right: 8px;
	cursor: pointer;
	background-color: #1e1e1e;
	border-radius: 10px;
}
#figure .figure_middle .slideFooter li.lbactive{
	background-color: #a10000;
}
#figure .figure_right{
	width: 210px;
	height: 475px;
	float: right;
	border: solid 1px #C9C9C9;
	display: none;
}
#figure .figure_right .one{
	height: 236px;
	border-bottom: solid 1px #C9C9C9;
}
/*内容开始*/
#content{
	width: 980px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
#content h2{
	width: auto;
	height: 40px;
	padding-left:40px ;
	line-height: 40px;
	color: #595757;
}
#content h2.h2_one{
	width: auto;
	height: 40px;
	padding-left:40px ;
	line-height: 40px;
	color: #595757;
	margin-top: 15px;
}
#content .one,#content .two{
	width: 1200px;
	height: 232px;
	overflow: hidden;
}
#content ul li{
	float: left;
	margin-right: 17px;
}
#content .one .xy{
	margin-right: 30px;
}
#content ul li.active{
	margin-right: 0px;
}
#content .two{
	margin-top: 15px;
}
#content .vanclfoot{
	width: 978px;
	height: 190px;
	margin: 0 auto;
	border: solid 1px #E0E0E1;
	margin-top: 40px;
}
#content .vanclfoot .about{
	width: 112px;
	height:138px;
	padding-left: 49px;
	margin-top: 30px;
	border-right: solid 1px #E0E0E1;
	float: left;
}
#content .vanclfoot .last{
	border: none;
}
#content .vanclfoot .about h3{
	font-size: 13px;
	margin-bottom: 15px;
	font-weight:100 ;
}
#content .vanclfoot .about p{
	line-height: 20px;
}
#content .picture{
	width: 980px;
	height: 52px;
	margin: 15px auto;
}
#content .picture ul{
	width: 100%;
	height: 52px;
}
#content .picture ul li{
	width: 245px;
	height: 52px;
	float: left;
	margin-right: 0px;
}
#content .picture ul li a.one{
	width: 245px;
	height: 30px;
	display: block;
	margin-top: 10px;
	background: url(../img/4.png) no-repeat 70px -127px;
}
#content .picture ul li a.two{
	width: 290px;
	height: 30px;
	display: block;
	margin-top: 10px;
	background: url(../img/4.png) no-repeat 70px -170px;
}
#content .picture ul li a.three{
	width: 290px;
	height: 30px;
	display: block;
	margin-top: 10px;
	background: url(../img/4.png) no-repeat 70px -210px;
}
#content .picture ul li a.four{
	width: 290px;
	height: 30px;
	display: block;
	margin-top: 10px;
	background: url(../img/4.png) no-repeat 70px -252px;
}
/*底部内容*/
#footer{
	width: 100%;
	height: 130px;
	border-top: solid #3E3A39 1px;
}
#footer p{
	width: 1200px;
	height: 25px;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
}
#footer .chengxin{
	width: 745px;
	height: 42px;
	margin: 0 auto;
	text-align: center;
}
#footer .chengxin a{
	width: 113px;
	height: 42px;
	display: inline-block;
	float: left;
	margin-right: 20px;
}
#footer .chengxin .one{
	background: url(../img/8.png) no-repeat 0 -581px;
}
#footer .chengxin .two{
	width: 156px;
	height: 45px;
	background: url(../img/8.png) no-repeat 0 -629px;
}
#footer .chengxin .three{
	width: 96px;
	background: url(../img/8.png) no-repeat 0 -675px;
}
#footer .chengxin .four{
	width: 101px;
	background: url(../img/8.png) no-repeat -97px -675px;
}
#footer .chengxin .five{
	width: 42px;
	background: url(../img/8.png) no-repeat -202px -675px;
}
#footer .chengxin .six img{
	width: 122px;
	height: 42px;
}
