<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>文章内容</title>
		<bootstrapcss />
		<link href="__PUBLIC__/Index/css/base.css" rel="stylesheet">
		<link href="__PUBLIC__/Index/css/new.css" rel="stylesheet">
	</head>
	<body>
		<!--头部-->
		<include file="Common/header" />
		
		<article class="blogs">
		  <h1 class="t_nav">
		  	<a href="{:U('Index/Index/index')}" class="n1">网站首页</a><a href="javascipt:;" class="n2">文章</a>
		  </h1>
		  <div class="index_about">
		    <h2 class="c_titile">{$articles['current']['title']}</h2>
		    <p class="box_c">
		    	<span class="d_time">发布时间：{$articles['current']['addtime']|date='Y-m-d',###}</span>
		    	<span>编辑：{$articles['current']['author']}</span>
		    </p>
		    <ul class="infos">
		      {$articles['current']['content']}
		    </ul>
		    <div class="keybq">
		    <p>
		    	<span>分类</span>：{$articles['current']['category']['cname']}
		    	<span style="margin-left: 10px;">标签</span>：
		    	<foreach name="articles['current']['tag']" item="v">
                    <a class="b-tag-name" href="{:U('Home/Index/tag',array('tid'=>$v['tid']))}">{$v['tname']}、</a>
                </foreach>
		    </p>
		    
		    </div>
		    <div class="ad"> </div>
		    <div class="nextinfo">
		    	
		      <p>上一篇：
		      	<empty name="articles['prev']">
		      		<a href="javascript:;">没有了</a>
		      	<else />
		      		<a href="{$articles['prev']['url']}">{$articles['prev']['title']}</a>		
		      	</empty>
		      </p>
		      <p>下一篇：
		      	<empty name="articles['next']">
		      		<a href="javascript:;">没有了</a>
		      	<else />
		      		<a href="{$articles['next']['url']}">{$articles['next']['title']}</a>
		      	</empty>
		      </p>
		      
		    </div>
		    <div class="otherlink">
		      <h2>相关文章</h2>
		      <ul>
		      	<foreach name="relevantData" item="v">
		      		<li>
		      			<a href="{:U('Index/Index/content',array('aid'=>$v['aid']))}" title="{$v['title']}">{$v['title']}</a>
		      		</li>
		      	</foreach>
		      </ul>
		    </div>
		  </div>
		  <aside class="right">
		    <!-- Baidu Button BEGIN -->
		    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
		    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
		    <script type="text/javascript" id="bdshell_js"></script> 
		    <script type="text/javascript">
		document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
		</script> 
		    <!-- Baidu Button END -->
		    <div class="blank"></div>
		    <div class="news">
		      <include file="Common/right_new" />
		    </div>
		    <!--<div class="visitors">
		      <h3>
		        <p>最近访客</p>
		      </h3>
		      <ul>
		      </ul>
		    </div>-->
		  </aside>
		</article>
		<!--尾部-->
		<include file="Common/footer" />
	</body>
</html>
