<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>文章列表</title>
		<meta name="keywords" content="小林博客" />
		<meta name="description" content="小林博客" />
		<bootstrapcss />
		<link href="__PUBLIC__/Index/css/base.css" rel="stylesheet">
		<link href="__PUBLIC__/Index/css/style.css" rel="stylesheet">
	</head>
	<body>
		<!--头部-->
		<include file="Common/header" />
		
		<article class="blogs">
		<h1 class="t_nav"><span>“慢生活”不是懒惰，放慢速度不是拖延时间，而是让我们在生活中寻找到平衡。</span><a href="{:U('Index/Index/index')}" class="n1">网站首页</a><a href="{:U('Index/Index/new_list',array('cid'=>$category['cid']))}" class="n2">{$category['cname']}</a></h1>
		<div class="newblog left">
			<empty name="articles">
				<div class="inner">
					<div class="taogongzai">
						<img src="__PUBLIC__/Index/images/kj.png"/>
					</div>
					<div class="item_not_found">
						该分类下还没有文章！
					</div>
				</div>
				<else />
				<foreach name="articles" item="v">
					<h2>{$v['title']}</h2>
					<p class="dateview"><span>发布时间：{$v['addtime'|date="Y-m-d",###]}</span><span>作者：{$v['author']}</span><span>分类：[<a href="{:U('Index/Index/new_list',array('cid'=>$v['category']['cid']))}">{$v['category']['cname']}</a>]</span></p>
					<figure><img src="{$v['thumb']}"></figure>
				    <ul class="nlist">
				      <p>{$v['description']}</p>
				      <a title="{$v['title']}" href="{:U('Index/Index/content',array('aid'=>$v['aid']))}" target="_blank" class="readmore">阅读全文>></a>
				    </ul>
				    <div class="line"></div>
				</foreach>
			    <div class="blank"></div>
				<div style="text-align: center;">
				    {$page}
				</div>
			</empty>
		</div>
		<aside class="right">
		    <div class="rnav">
		      <ul>
		       <li class="rnav1"><a href="/download/" target="_blank">日记</a></li>
		       <li class="rnav2"><a href="/newsfree/" target="_blank">程序人生</a></li>
		       <li class="rnav3"><a href="/web/" target="_blank">欣赏</a></li>
		       <li class="rnav4"><a href="/newshtml5/" target="_blank">短信祝福</a></li>
		     </ul>      
		    </div>
			<div class="news">
				<include file="Common/right_new" />
		    </div>
		    <!--<div class="visitors">
		      <h3><p>最近访客</p></h3>
		      <ul>
		
		      </ul>
		    </div>-->
		     <!-- Baidu Button BEGIN -->
		    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
		    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
		    <script type="text/javascript" id="bdshell_js"></script> 
		    <script type="text/javascript">
		document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
		</script> 
		    <!-- Baidu Button END -->   
		</aside>
		</article>
		
		<!--尾部-->
		<include file="Common/footer" />
	</body>
</html>
